---
import Layout from '../layout/Layout.astro';
import Tabs from '../components/tabs.astro';
import Upload from '../components/media/upload.vue';
import NotificationContainer from '@components/NotificationContainer.vue';
import MainContent from '@components/MainContent.vue';
import FormExample from '@components/FormExample.vue';
---

<Layout>
	<Tabs activeTab='Images'/>
	<MainContent client:only="vue"/>
	<FormExample client:only="vue"/>
	<NotificationContainer client:only="vue"/>

	<dlg-cont class="upload_modal">
		<Upload client:only="vue" />
	</dlg-cont>
	<button type="button" class="btn btn-primary" id="NewTrigger">Open Modal</button>
</Layout>
<script>
	import { DlgCont } from '@litcomponents/modal'
	const button = document.querySelector('#NewTrigger') as HTMLButtonElement;
	button.addEventListener('click', () => {
		const modal = document.querySelector('.upload_modal') as DlgCont;
		modal.show();
	})
</script>